.img {
	background-image: url('../images/img.jpg');
	background-size: cover;
	width: 500px;
	height: 300px;
	padding-top: 35px;
	padding-left: 35px;
	font-weight: 700;
	font-size: 20px;
	color: white;
	background-position: bottom;
	background-repeat: no-repeat;
}

/*h2 {
	opacity: 1;
	transition: all 2s;
}

h1:hover {
	display: none;
}

h1:hover h2 {
	display: inline-block;
}

h2:hover {
	opacity: 0;
}*/

.box {
	width: 100px;
	height: 100px;
	background-color: red;
	position: relative;
	animation: myAnimation 10s 1;

	animation-name: myAnimation;
	animation-duration: 10s;
	animation-iteration-count: 1;
}

@keyframes myAnimation {
	0%   {top: 0; left: 0; background-color: red;}
	25%  {top: 0; left: 300px; background-color: blue; border-radius: 50%}
	50%  {top: 300px; left: 300px; background-color: green}
	75%  {top: 300px; left: 0; background-color: yellow; broder-radius: 50%}
	100% {top: 0; left: 0; background-color: red}
}


body {
	background-image: url('../images/img.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}


.sun {
	background-image: url('../images/sun.png');
	width: 200px;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	top: 30px;
	left: 100px;
	position: absolute;
	animation: sunMove 1s infinite;
	animation-direction: alternate;
	animation-timing-function: steps(4, end);
}

@keyframes sunMove {
	0% {top: 30px}
	100% {top: 200px}
}











